h1 {
  color: seagreen;
  font-size: xx-large;
  font-family: Damascus;
}
h2 {
    color: darkseagreen;
    font-size: x-large;
    font-family: Damascus;
}
body {
    color: midnightblue;
    font-family: sans-serif;
}

{
    background-image: linear-gradient(blue, green);
}